// content layour scss

@import "variables";

.page {
  position: absolute;
  height: $content-radius; width: $content-radius;
  top: calc(50% - #{$content-radius/2}); left: calc(50% - #{$content-radius/2});
  box-sizing: border-box;
  border-radius: 50%;
  //border: $border-size $primary solid !important;
  z-index: 0;
  font-size: $content-title-size;
  font-family: $font-family;
  text-align: center;
  padding-top: auto;
  padding-bottom: auto;

  // vertically align pages
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: $page-padding;
  padding-top: 0;
  height: auto; width: auto;
  color: $primary;

  h1 {
    margin: 0;
    font-weight: bold;
    font-size: $page-title-size;
  }
  span {
    margin: 0;
    font-size: $page-font-size;
    font-family: Arial;
  }
}
