// variables

//colors

$background: #fafafa;
$primary: #0d47a1;
//$primary: #1565c0;
$accent: #2962ff;

// font size
$menu-font-size: 2rem;
$serif-font: Courier, MonoSpace;
$sans-serif-font: Helvetica, Regular;

$content-title-size: 2.5rem;

// page padding
$page-title-size: 2.5rem;
$page-font-size: 1.5rem;
$page-line-height: 2rem;
$page-padding: 1.5rem;

// nav font size
$nav-font-size: $menu-font-size;

// radius of content in center circle

$content-radius: 23rem;
$menu-text-radius: 14rem;
$border-size: 0.25rem;
