// content layout scss

@import "variables";

.page {
  $content-mod: #{$content-width - (2 * $border-size)};
  position: absolute;
  height: $content-mod; width: $content-mod;
  top: calc(50% - #{$content-mod/2}); left: calc(50% - #{$content-mod/2});
  box-sizing: border-box;
  border-radius: 50%;
  z-index: 0;
  font-family: $serif-font;

  // vertically align pages
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    height: auto; width: auto;

    h1 {
      // text-align: center;
      text-align: center;
      margin-bottom: (0.5 * $page-font-size);
      font-weight: bold;
      font-size: $page-title-size;
      font-family: $serif-font;
      line-height: ($page-title-size*0.9);
    }
/*
    span {
      padding: 0;
      margin: 0;
      margin-top: ($page-font-size*0.3);
      line-height: ($page-font-size*1.2);
      font-size: $page-font-size;
      font-family: $sans-serif-font;
    }
*/
    ul {
      padding: 0; margin: 0;
    }
    li {
      margin-top: (0.5 * $page-font-size);
      font-family: $sans-serif-font;
    }
    p {
      margin-top: (0.5 * $page-font-size);
      font-family: $sans-serif-font;
    }
  }
  &-border{
    border: ($border-size * 0.75) $background solid;
    box-shadow: 0 0 0 $border-size $primary;
  }
  &-no-border{
    box-shadow: 0 0 0 $border-size $primary;
  }
  &-background {
    z-index: -1;
  }

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

