// menu scss

@import "layout";
@import "variables";

// spin animation

/*
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg) !important; } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg) !important; } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg) !important; } }
*/

// the circular text of the menu

nav {
  @extend .noselect;
  z-index: 2;
  position: absolute;
  top: calc(50% - #{($menu-text-radius)}); right: calc(50% - #{$menu-text-radius});
/*
  -webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;
  animation-name: spin;
*/
  pointer-events: none;
  width: ($menu-text-radius*2); height: ($menu-text-radius*2);

  // internal character span css
  span {
    color: $primary;
    font: $menu-font-size $serif-font;
    font-weight: bold;
    height: $menu-text-radius; width: $menu-font-size;
    position: absolute;
    text-align: center;
    transform-origin: bottom center;
    top: 0; left: #{$menu-text-radius - ($menu-font-size/2)};
    pointer-events: none;
  }

  p {
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-weight: bold;
    pointer-events: auto;
  }

  i {
    font-size: ($menu-font-size * 0.85) !important;
    cursor: pointer;
    pointer-events: auto;
  }

  // highlight

  .highlight {
    &-hover, &-page {
      color: $accent;
    }
    &-click {
      color: $accent-2;
    }
  }

  // links characters css
  @for $i from 1 through 60 {
    .char#{$i} {
      transform: rotate((($i*6)-(6*4.4))+deg);
    };
  };
}
