// navigation buttons

@import "variables";
/*
.pointer {
  z-index: 2;
  font-size: $menu-font-size !important;
  font-family: $serif-font;
  color: $primary;
  position: absolute;
  top: calc(50% - #{$menu-text-radius} - 2.5rem); left: calc(50% - #{$menu-font-size/2});
}
*/

.button {
  z-index: 2;
  position: absolute;
  font-family: $serif-font;
  color: $background;
  width: $nav-font-size; height: $nav-font-size;
  top: calc(50% - #{$menu-font-size/2}); left: calc(50% - #{$menu-font-size/2});
  // vertically and horizontally align text
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &-prev {
    font-size: ($nav-font-size) !important;
    left: calc(50% - #{($nav-font-size/2) + ($content-radius/2) - 1.5rem}});
  }

  &-next {
    font-size: ($nav-font-size) !important;
    left: calc(50% - #{($nav-font-size/2) - ($content-radius/2) + 1.5rem}});
  }

  &-download {
    font-size: ($nav-font-size*0.6) !important;
    top: calc(50% - #{($nav-font-size/2) - ($content-radius/2) + 1.5rem}});
  }

  &-indicator {
    width: auto;
    font-family: $sans-serif-font;
    font-weight: bold;
    font-size: ($nav-font-size*0.6) !important;
    top: calc(50% - #{($nav-font-size/2) + ($content-radius/2) - 1.5rem}});
    left: calc(50% - #{$menu-font-size/2 + $page-font-size*0.3;});
  }
}
