// slide buttons

@import "layout";
@import "variables";

.slide {
  position: absolute;
}

.button {
  @extend .noselect;
  z-index: 2;
  position: fixed;
  font-family: $serif-font;
  color: $background;
  width: $nav-font-size; height: $nav-font-size;
  top: calc(50% - #{$menu-font-size/2}); left: calc(50% - #{$menu-font-size/2});
  // vertically and horizontally align text
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: $background-2;
  }

  &-prev {
    font-size: ($nav-font-size) !important;
    left: calc(50% - #{($nav-font-size/2) + ($content-width/2) - 1.5rem}});
  }

  &-next {
    font-size: ($nav-font-size) !important;
    left: calc(50% - #{($nav-font-size/2) - ($content-width/2) + 1.5rem}});
  }

  &-action {
    font-size: ($nav-font-size*0.6) !important;
    top: calc(50% - #{($nav-font-size/2) - ($content-width/2) + 1.5rem}});
  }

  &-indicator {
    width: auto;
    font-family: $sans-serif-font;
    font-weight: bold;
    font-size: ($nav-font-size*0.6) !important;
    top: calc(50% - #{($nav-font-size/2) + ($content-width/2) - 1.5rem}});
    left: calc(50% - #{$menu-font-size/2 + $page-font-size*0.3});

    &:hover {
      color: $background;
    }
  }
}
