// variables

//colors

$background: #fafafa;
$background-2: #e1f5fe;
$primary: #0d47a1;
$accent: #2962ff;
$accent-2: #448aff;

// font size
$menu-font-size: 2rem;
// $serif-font: Courier, MonoSpace;
$serif-font: Anonymous Pro, monospace;
// $sans-serif-font: Helvetica, Regular;
$sans-serif-font: Roboto, sans-serif;

$content-title-size: 2.5rem;

// page padding
$page-title-size: 2rem;
$page-font-size: 1.1rem;
$page-line-height: 1.5rem;

// nav font size
$nav-font-size: $menu-font-size;

// radius of content in center circle

$content-width: 23rem;
$menu-text-radius: 13.75rem;
$border-size: 0.25rem;
