// style

html, body {
  padding: 0 auto;
  margin: 0 auto;
  overflow: hidden;
  height: 100%; width: 100%;
}

// fonts

@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");
@import url("https://fonts.googleapis.com/css?family=Roboto");

// imports

@import "breakpoints";
@import "menu";
@import "slides";
@import "layout";
@import "animations";
