// style

html, body {
  padding: 0 auto;
  margin: 0 auto;
  overflow: hidden;
  height: 100%; width: 100%;
}

// imports

@import "breakpoints";
@import "menu";
@import "slides";
@import "layout";
@import "animations";
