@import "../../sass/variables";

$record-color: #263238;
$circle-width: 0.5rem;
$border-radius: 5rem;
$center-offset: (($circle-width/2) + $border-radius);
$dark-record-color: darken($record-color, 3);

.music-page {
  color: $background;
  background-color: $record-color;
  border-radius: 50%;

  .content {
    color: $background !important;
    .button-download {
      z-index: 2;
      font-size: ($nav-font-size*0.6) !important;
      top: calc(50% - #{($nav-font-size/2) - ($content-radius/2) + 1.5rem});
    }
  }
}

// css for record labels
.label {
  $font-size: 1rem;
  $title-font-size: 1.8rem;
  $record-offset: $center-offset + ($font-size/2);
  position: absolute;
  height: $font-size;
  // color: $text-color-2;
  font-weight: bold;
  font-size: $font-size !important;
  font-family: $sans-serif-font !important;
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
  // vertically align pages
  display: flex;
  justify-content: center;
  align-items: center;

  &-top {
    width: ($record-offset * 2);
    height: ($record-offset);
    top: calc(50% - #{$record-offset}); left: calc(50% - #{$record-offset});
    //color: $text-color-1;
    font-family: $serif-font !important;
    font-size: $title-font-size !important;
    line-height: ($title-font-size*0.9) !important;
  }

  &-left {
    width: $record-offset;
    left: calc(50% - #{$record-offset});
    top: calc(50% - #{$font-size/2});
  }
  &-right {
    width: $record-offset;
    left: calc(50%);
    top: calc(50% - #{$font-size/2});
  }
  &-bottom{
    line-height: ($font-size * 1.1) !important;
    height: ($record-offset); width: (2*$record-offset);
    top: calc(50% - #{$font-size/2});
    left: calc(50% - #{$record-offset});
  }
}

@mixin label($text-color-dark, $text-color-light, $title-font-size) {
  color: $text-color-light;
  &-top {
    font-size: $title-font-size !important;
    color: $text-color-dark !important;
  }
  &-left {
  }
  &-right {
  }
  &-bottom{
  }
}

// creates record css background
@mixin record($color1, $color2) {
  z-index: -1;
  width: $circle-width;
  height: $circle-width;
  background-color: $dark-record-color;
  border: $border-radius solid $color1;
  box-shadow: 0 0 0 0.4rem $color2, 0 0 0 (0.4 + 0.75*0.4rem) $color1, 0 0 0 2.3rem $dark-record-color;
	border-radius: 50%;
  position: absolute;
  top: calc(50% - #{$center-offset}); left: calc(50% - #{$center-offset});
  &::after {
    position: absolute;
    content: '';
    top: inherit; left: inherit;
    width: ($center-offset * 2);
    height: ($center-offset - 0.8rem);
    background-color: $color2;
    border-radius: $center-offset $center-offset 0 0;
  }
}

#stone-free {
  $text-color-dark: #EF6C00;
  $text-color-light: #fbe9e7;
  .record{
    @include record($text-color-dark, $text-color-light);
  }
  .label {
    @include label($text-color-dark, $text-color-light, 1.8rem);
  }
}

#crossroads {
  $text-color-dark: #283593;
  $text-color-light: #e8eaf6;
  .record{
    @include record($text-color-dark, $text-color-light);
  }
  .label {
    @include label($text-color-dark, $text-color-light, 1.8rem);
  }
}
