@import "~@/sass/variables";

$record-color: #263238;
$circle-radius: 5.25rem;
$dark-record-color: darken($record-color, 3);

.music-page {
  background-color: $record-color;
  border-radius: 50%;

  // css for record labels
  .label {
    $font-size: 1rem;
    $title-font-size: 1.8rem;
    $record-offset: $circle-radius + ($font-size/2);
    position: absolute;
    height: $font-size;
    // color: $text-color-2;
    font-weight: bold;
    font-family: $sans-serif-font;
    text-align: center;
    margin: 0; padding: 0;

    // vertically align pages
    display: flex;
    justify-content: center;
    align-items: center;

    &-top {
      width: ($record-offset * 2);
      height: ($record-offset);
      top: calc(50% - #{$record-offset}); left: calc(50% - #{$record-offset});
      //color: $text-color-1;
      font-family: $serif-font;
      font-size: $title-font-size;
      line-height: ($title-font-size*0.9);
    }

    &-left {
      font-size: $font-size;
      width: $record-offset;
      left: calc(50% - #{$record-offset});
      top: calc(50% - #{$font-size/2});
    }
    &-right {
      font-size: $font-size;
      width: $record-offset;
      left: calc(50%);
      top: calc(50% - #{$font-size/2});
    }
    &-bottom{
      line-height: ($font-size * 1.1);
      height: ($record-offset); width: (2*$record-offset);
      top: calc(50% - #{$font-size/2});
      left: calc(50% - #{$record-offset});
    }
  }

  @mixin label($text-color-dark, $text-color-light, $title-font-size, $word-spacing:-0.5rem) {
    color: $text-color-light;
    &-top {
      word-spacing: $word-spacing;
      font-size: $title-font-size;
      color: $text-color-dark;
    }
  /*
    &-left {
    }
    &-right {
    }
    &-bottom{
    }
  */
  }

  // creates record css background
  @mixin record($color1, $color2) {
    z-index: -1;
    width: ($circle-radius*2); height: ($circle-radius*2);
    background-color: $color1;
    box-shadow: 0 0 0 0.4rem $color2, 0 0 0 (0.4 + 0.75*0.4rem) $color1, 0 0 0 2.3rem $dark-record-color;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - #{$circle-radius}); left: calc(50% - #{$circle-radius});
    &::before {
      position: absolute;
      content: '';
      top: inherit; left: inherit;
      width: ($circle-radius * 2);
      height: ($circle-radius - 0.8rem);
      background-color: $color2;
      border-radius: $circle-radius $circle-radius 0 0;
    }
    &::after{
      $dot-width: 0.5rem;
      $border-width: 0.15rem;
      $dot-offset: (($dot-width)/2 + $border-width);
      position: absolute;
      content: '';
      width: $dot-width; height: $dot-width;
      top: calc(50% - #{$dot-offset}); left: calc(50% - #{$dot-offset});
      background-color: $dark-record-color;
      border: $border-width solid $color2;
      border-radius: 50%;
    }
  }

  #bold-love {
    $text-color-dark: #f4511e;
    $text-color-light: #fbe9e7;
    .record{
      @include record($text-color-dark, $text-color-light);
    }
    .label {
      @include label($text-color-dark, $text-color-light, 1.8rem);
    }
  }

  #vill-junct {
    $text-color-dark: #d81b60;
    $text-color-light: #fbe9e7;
    .record{
      @include record($text-color-dark, $text-color-light);
    }
    .label {
      @include label($text-color-dark, $text-color-light, 1.8rem);
    }
  }

  #fault-stars {
    $text-color-dark: #283593;
    $text-color-light: #e8eaf6;
    .record{
      @include record($text-color-dark, $text-color-light);
    }
    .label {
      @include label($text-color-dark, $text-color-light, 1.8rem);
    }
  }

}
