@import "../../sass/variables";

.resume-page {
  background-color: $primary;
  color: $background;
  border-radius: 50%;
  border: ($border-size*1.75) $background solid;
  .content {
    color: $background !important;
  }
}
