@import "~@/sass/variables";
@import "~@/sass/trig";

$circle-radius: 5.4rem;
$label-font-size: 0.9rem;

$phone-color-dark: #263238;
$phone-color-light: #eceff1;
$label-color-dark: #37474f;
$label-color-light: $background;

$label-color-accent: $accent;
$label-color-accent-2: $accent-2;
$hook-color:  #90a4ae;

$dial-width: 3.2rem;

// creates phone dial css background

@mixin phone-dial($color1, $color2) {
  z-index: -1;
  width: ($circle-radius*2); height: ($circle-radius*2);
  background-color: $color1;
  // box-shadow: 0 0 0 0.4rem $color2, 0 0 0 (0.4 + 0.75*0.4rem) $color1, 0 0 0 (0.4 + 0.75*0.8rem) $phone-color2;
  box-shadow: 0 0 0 (0.3rem) $color2, 0 0 0 (0.3 + $dial-width) $label-color-light;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - #{$circle-radius}); left: calc(50% - #{$circle-radius});
  &::before {
    position: absolute;
    content: '';
    top: inherit; left: inherit;
    width: ($circle-radius * 2);
    height: ($circle-radius - 0.75rem);
    background-color: $color2;
    border-radius: $circle-radius $circle-radius 0 0;
  }
  &::after{
    box-shadow: 0 0 0 (0.3rem) $phone-color-dark;
    position: absolute;
    content: '';
    top: inherit; left: inherit;
    width: ($circle-radius * 2);
    height: ($circle-radius * 2);
    border-radius: 50%;
  }
}

.contact-page {
  background-color: $phone-color-dark;
  border-radius: 50%;

  // creates dial background
  .dial-label{
    @include phone-dial($background, $label-color-dark);
  }

  // dial hook
  .dial-hook {
    $hook-width: 0.8rem;
    z-index: 3;
    background-color: none;
    font: $menu-font-size $serif-font;
    font-weight: bold;
    height: 6rem; width: $hook-width;
    position: absolute;
    text-align: center;
    transform-origin: top center;
    top: calc(50%); left: calc(50% - #{$hook-width/2});
    pointer-events: none;
    transform: rotate(-62deg);
    border-bottom: solid 4rem $hook-color;
  }

  // css for phone labels
  .label {
    $title-font-size: 1.7rem;
    $dial-offset: $circle-radius + ($label-font-size/2);
    position: absolute;
    height: $label-font-size;
    font-weight: bold;
    font-family: $sans-serif-font;
    text-align: center;
    color: $background;
    margin: 0; padding: 0;

    // vertically align pages
    display: flex;
    justify-content: center;
    align-items: center;

    &-top {
      width: ($dial-offset * 2);
      height: ($dial-offset);
      top: calc(50% - #{$dial-offset}); left: calc(50% - #{$dial-offset});
      //color: $text-color-1;
      color: $background;
      font-family: $serif-font;
      font-size: $title-font-size;
      line-height: ($title-font-size*0.9);
      // font-style: italic;
      margin-top: (0.4 * $label-font-size);
    }

    &-bottom{
      font-size: $label-font-size;
      line-height: ($label-font-size * 1.2);
      color: $label-color-dark;
      height: ($dial-offset); width: (2*$dial-offset);
      top: calc(50% - #{$label-font-size/2});
      left: calc(50% - #{$dial-offset});
      margin-top: (-1.1 * $label-font-size);
    }

    a {
      color: $label-color-dark;
      outline: 0;
      &:hover {
        color: $label-color-accent;
      }
      &:active {
        color: $label-color-accent-2;
      }
      &:visited {
        color: $label-color-dark;
      }
    }
  }
}

// dots characters css
@for $i from 1 through 10 {
  $dot-radius: 0.2rem;
  $dot-border: 1.1rem;
  $dot-offset: ($dot-radius + $dot-border);
  $circle-offset: calc($circle-radius + $dial-width);
  .dot#{$i} {
    $circle-radius: 7.25rem;
    $deg-inc: 30deg;
    $start-deg: 165deg;
    position: absolute;
    width: ($dot-radius*2); height: ($dot-radius*2);
    top: calc(50% - #{$dot-offset + ($circle-radius * sin($i*$deg-inc - $start-deg))});
    left: calc(50% - #{$dot-offset + ($circle-radius * cos($i*$deg-inc - $start-deg))});
    background-color: $label-color-light;
    border: $dot-border solid $phone-color-dark;
    border-radius: 50%;
    margin: 0; padding: 0;
  };
};

// number characters css
// @for $i from 1 through 10 {
//   $number-font-size: $page-font-size;
//   $dot-radius: 1.2rem;
//   $dot-offset: ($dot-radius);
//   $circle-offset: calc($circle-radius + $dial-width);
//   .num#{$i} {
//     $circle-radius: 10rem;
//     $deg-inc: 30deg;
//     $start-deg: 165deg;
//     position: absolute;
//     width: $number-font-size; height: $number-font-size;
//     top: calc(50% - #{$number-font-size/2 + ($circle-radius * sin($i*$deg-inc - $start-deg))});
//     left: calc(50% - #{$number-font-size/2 + ($circle-radius * cos($i*$deg-inc - $start-deg))});
//     color: $phone-color-light;
//     border-radius: 50%;
//     margin: 0; padding: 0;
//
//     // vertically and horizontally align text
//     font-size: $label-font-size;
//     font-weight: bold;
//     font-family: $sans-serif-font;
//     text-align: center;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     -moz-user-select: none;
//   };
// };
//
