@import "../../sass/variables";
@import "../../sass/trig";

$record-color: #263238;
$circle-radius: 5.2rem;
$label-font-size: 0.84rem;
$phone-color-dark: #00796b;
$phone-color-light: #e0f2f1;
$label-color-dark: #00695c;
$label-color-light: $background;
$dial-width: 3rem;

// creates phone dial css background

@mixin phone-dial($color1, $color2) {
  z-index: -1;
  width: ($circle-radius*2); height: ($circle-radius*2);
  background-color: $color1;
  // box-shadow: 0 0 0 0.4rem $color2, 0 0 0 (0.4 + 0.75*0.4rem) $color1, 0 0 0 (0.4 + 0.75*0.8rem) $phone-color2;
  box-shadow: 0 0 0 (0.3rem) $color2, 0 0 0 (0.3 + $dial-width) $phone-color-light;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - #{$circle-radius}); left: calc(50% - #{$circle-radius});
  &::before {
    position: absolute;
    content: '';
    top: inherit; left: inherit;
    width: ($circle-radius * 2);
    height: ($circle-radius - 0.8rem);
    background-color: $color2;
    border-radius: $circle-radius $circle-radius 0 0;
  }
}

/*
.page-border {
  border: ($border-size * 1.75) $phone-color-dark solid !important;
}
*/

.contact-page {
  background-color: $phone-color-dark;
  border-radius: 50%;

  // creates dial background
  .dial-label{
    // @include phone-dial($label-color-light, $label-color-dark, $phone-color-light, $phone-color-dark);
    @include phone-dial($label-color-light, $label-color-dark);
  }

  // css for phone labels
  .label {
    $title-font-size: 1.7rem;
    $dial-offset: $circle-radius + ($label-font-size/2);
    position: absolute;
    height: $label-font-size;
    font-weight: bold;
    font-family: $sans-serif-font;
    text-align: center;
    color: $background;
    margin: 0; padding: 0;

    // vertically align pages
    display: flex;
    justify-content: center;
    align-items: center;

    &-top {
      width: ($dial-offset * 2);
      height: ($dial-offset);
      top: calc(50% - #{$dial-offset}); left: calc(50% - #{$dial-offset});
      //color: $text-color-1;
      color: $label-color-light;
      font-family: $serif-font;
      font-size: $title-font-size;
      line-height: ($title-font-size*0.9);
      // font-style: italic;
      margin-top: (0.4 * $label-font-size);
    }

    &-bottom{
      font-size: $label-font-size;
      line-height: ($label-font-size * 1.2);
      color: $label-color-dark;
      height: ($dial-offset); width: (2*$dial-offset);
      top: calc(50% - #{$label-font-size/2});
      left: calc(50% - #{$dial-offset});
      margin-top: (-1.3 * $label-font-size);
    }
  }
}

// dots characters css
@for $i from 1 through 10 {
  $dot-radius: 0.2rem;
  $dot-border: 1rem;
  $dot-offset: ($dot-radius + $dot-border);
  .dot#{$i} {
    $circle-radius: 7rem;
    $deg-inc: 30deg;
    $start-deg: 135deg;
    position: absolute;
    width: ($dot-radius*2); height: ($dot-radius*2);
    top: calc(50% - #{$dot-offset + ($circle-radius * sin($i*$deg-inc - $start-deg))});
    left: calc(50% - #{$dot-offset + ($circle-radius * cos($i*$deg-inc - $start-deg))});
    background-color: $phone-color-light;
    border: $dot-border solid $phone-color-dark;
    border-radius: 50%;
    margin: 0; padding: 0;
  };
};
