@import "~@/sass/layout";
@import "~@/sass/variables";

$image-width: 14rem;
$new-border: ($border-size*1.75);
$translucent-color: rgba(0,0,0,0.6);

@mixin translucent-highlight {
  background-color: $translucent-color;
  padding: $new-border;
}

.projects-page {
  .content {
    margin-bottom: 0;
    color: $background;
    h1 {
      span {
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
        @include translucent-highlight;
      }
      margin-bottom: ($new-border * 1.5) !important;
    }
    p {
      @include translucent-highlight;
    }
  }

  .logo {
    @extend .noselect;
    z-index: -1;
    display: block;
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    height: auto; width: auto;
    pointer-events: none;

    &-circle {
      // if an image is a cicle, us image-width
      max-height: $image-width; max-width: $image-width;
    }
    &-square {
      // if image is not circle, make it smaller
      max-height: 0.85 * $image-width; max-width: 0.85 * $image-width;
    }
    &-vvvvvv {
      // if image is not circle, make it smaller
      max-height: 1.15 * $image-width; max-width: 1.15 * $image-width;
    }
  }
}
