@import "~@/sass/variables";

$image-width: 14rem;
$new-border: ($border-size*1.75);
$translucent-color: rgba(0,0,0,0.6);

@mixin translucent-highlight {
  background-color: $translucent-color;
  padding: $new-border;
}

.projects-page {
  .content {
    margin-bottom: 0;
    color: $background;
    h1 {
      span {
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
        @include translucent-highlight;
      }
      margin-bottom: ($new-border * 1.5) !important;
    }
    p {
      @include translucent-highlight;
    }
  }

  .img-center {
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    height: $image-width; width: $image-width;
  }
}
